* {
    margin: 0;
    box-sizing: border-box;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background: #000000;
    color: white;
}

header {
    padding: 2rem 1rem;
    max-width: 800px;
    width: 100%;
    margin: 0 auto;
}

header h1 {
    font-size: 3rem;
    font-weight: 300;
    margin-bottom: 1rem;
    color: #3AB0FF;
    text-align: center;
}

#new-task-form {
    display: flex;

}

input,
button {
    appearance: none;
    border: none;
    outline: none;
    background: none;
}

#new-task-input {
    flex: 1 1 0%;
    background-color: #F24C4C;
    padding: 1rem;
    border-radius: 1rem;
    margin-right: 1rem;
    color: white;
    font-size: 1.25rem;

}

#new-task-input::placeholder {
    color: #15133C;
}

#new-task-submit {
    /* color: pink; */
    font-weight: 700;
    font-size: 2rem;
    background-image: linear-gradient(to right, #F7D716, #F32424);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    cursor: pointer;
    transition: 0.4s;
}

#new-text-submit:hover {
    opacity: 0.8;
}

#new-text-submit:active {
    opacity: 0.70;
}

main {
    flex: 1 1 0%;
    padding: 2rem 1rem;
    max-width: 800px;
    width: 100%;
    margin: 0 auto;
}

.text-list {
    padding: 1rem;
}

.task-list h2 {
    font-size: 1.5rem;
    font-weight: 300;
    color: #3AB0FF;
    margin-bottom: 1rem;
}

#tasks .task {
    display: flex;
    justify-content: space-between;
    background-color: #EB5353;
    padding: 1rem;
    border-radius: 1rem;
    margin-bottom: 1rem;
}

#tasks .task .content {
    flex: 1 1 0%;
}

#tasks .task .content .text {
    color: white;
    font-size: 1.25rem;
    width: 100%;
    display: block;
    transition: 0.4s;
}

#tasks .task .actions {
    display: flex;
    margin: 0 -0.5rem;
}

#task .actions button {
    cursor: pointer;
    margin: 0 0.5rem;
    font-size: 2rem;
    font-weight: 900;
    text-transform: uppercase;
    transition: 0.4s;
}


/* unuse */
.task .actions button :hover {
    opacity: 0.8;
}

.task .actions button:active {
    opacity: 0.6;
}

.task .action .Edit {
    background-image: linear-gradient(to right, #15133C, #15133C);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.task .action .delete {
    color: #15133C;
}